<div class="container" style="width: 20rem">
  <p class="display-6 d-flex justify-content-around">Sign Up !</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    <hr class="mt-4" />
    <p class="h6">Who are you?</p>

    <div class="btn-group d-flex mb-3" role="group">
      <%= f.radio_button :role, "manager", class: "btn-check" %>
      <%= f.label :role, "Restaurant owner", value: "manager", class: "btn btn-outline-success" %>

      <%= f.radio_button :role, "customer", class: "btn-check", checked: true %>
      <%= f.label :role, "Visitor", value: "customer", class: "btn btn-outline-success" %>
    </div>

    <hr class="mt-4" />
    
    <div class="actions mb-3">
      <%= f.submit "Sign up", class: "btn btn-block btn-primary", style: "width: 100%" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>