<div class="col-sm-4 mb-3">
  <div class="card">
    <% if restaurant.image.attached? %>
      <%= image_tag restaurant.image, class: "card-img-top", style: 'width: 100%; height: 250px; object-fit:cover; object-position: right; border-radius: 3px' %>
    <% else %>
      <%= image_tag url_for('no-photo-icon.jpg'), class: "card-img-top", style: 'width: 100%; height: 250px; object-fit:cover; object-position: right; border-radius: 3px' %>
    <% end %>  

    <div class="card-body">
      <h5 class="card-title"><%= restaurant.title %></h5>
      <p class="card-text">
        <%= restaurant.description %>
      </p>
      <%= link_to "Go to Menu", restaurant_path(restaurant), class: "btn btn-primary" %>
    </div>
  </div>
</div>